# Translator
TRANSLATOR_KEY=
TRANSLATOR_REGION=
TRANSLATOR_ENDPOINT=

# Vision
VISION_KEY=
VISION_ENDPOINT=

# Speech
SPEECH_KEY=
SPEECH_REGION=

# Text Analytics
TEXT_API_KEY=
TEXT_API_ENDPOINT=

# Document Intelligence
DOC_INTELLIGENCE_KEY=
DOC_INTELLIGENCE_ENDPOINT=

# Content Safety
CONTENT_SAFETY_KEY=
CONTENT_SAFETY_ENDPOINT=

# Azure Blob Storage
AZURE_BLOB_CONN_STR=

# Azure Maps
AZURE_MAPS_KEY=

# Azure OpenAI
OPENAI_API_KEY=
OPENAI_API_ENDPOINT=
DEPLOYMENT_NAME=